<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--    Below are important for overlay -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.BIND_SCREENING_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.BIND_INCALL_SERVICE"
        tools:ignore="ProtectedPermissions" />

    <application>
        <service
            android:name=".services.TanlaCallScreeningService"
            android:exported="true"
            android:permission="android.permission.BIND_SCREENING_SERVICE">
            <intent-filter>
                <action android:name="android.telecom.CallScreeningService" />
            </intent-filter>
        </service>

        <service
            android:name=".services.CallerOverLayService"
            android:exported="false"
            tools:targetApi="31" />

        <!--        <service-->
        <!--            android:name=".services.AppInCallService"-->
        <!--            android:permission="android.permission.BIND_INCALL_SERVICE"-->
        <!--            android:exported="true">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.telecom.InCallService" />-->
        <!--            </intent-filter>-->
        <!--            <meta-data-->
        <!--                android:name="android.telecom.IN_CALL_SERVICE_UI"-->
        <!--                android:value="true" />-->
        <!--        </service>-->

    </application>

</manifest>